<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Planner</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="calendar">
        <div class="month-navigation">
            <form action="/kalender" method="get" class="prev-button">
                <input type="hidden" name="monthOffset" th:value="${monthOffset - 1}">
                <button type="submit">
                    <img style="height:100%" src="/images/previous.png" alt="previous-icon" class="icon">
                </button>
            </form>
            <h1 th:text="${monthName}"></h1>
            <form action="/kalender" method="get" class="next-button">
                <input type="hidden" name="monthOffset" th:value="${monthOffset + 1}">
                <button type="submit">
                    <img style="height:100%" src="/images/next.png" alt="next-icon" class="icon">
                </button>
            </form>
        </div>
        <div class="Month">
            <div class="weekdays">
                <ul>
                    <li class="card">Mo</li>
                    <li class="card">Di</li>
                    <li class="card">Mi</li>
                    <li class="card">Do</li>
                    <li class="card">Fr</li>
                    <li class="card">Sa</li>
                    <li class="card">So</li>
                </ul>
            </div>
            <div class="dates">
                <ul th:each="dayInfo : ${monthInfos}">
                    <li class="card">
                        <div class="calendar-card-content">
                            <div class="calendar-date">
                                <div>
                                    <span th:if="${dayInfo.day != 0}" th:text="${dayInfo.day}"></span>
                                </div>
                                <div class="additional-info">
                                    <!-- Add any additional information here -->
                                </div>
                            </div>
                            <div class="calendar-icons">
                                <div class="calendar-icon-column">
                                    <img class="calendar-icon" th:if="${dayInfo.plantsToWater.size() > 0}" 
                                    src="/images/water.png"
                                    th:title="${#strings.listJoin(dayInfo.plantsToWater.![{name, nickname}], ', ')}">
                                </div>
                                <div class="calendar-icon-column">
                                    <img class="calendar-icon" th:if="${dayInfo.plantsToFertilize.size() > 0}" 
                                    src="/images/fertilize.png"
                                    th:title="${#strings.listJoin(dayInfo.plantsToFertilize.![{name, nickname}], ', ')}">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="action-icons">
        <form id="deleteForm" action="/benutzerLoeschen" method="get" class="icon">
            <button type="submit" class="delete-button">
                <img src="/images/delete-account-3.png" alt="delete-account icon" class="icon">
            </button>
        </form>

        <form action="/pflanzenListe" method="get">
            <button class="plant-list-button" type="submit">
                <img src="/images/plant-shop.png" alt="delete-account icon" class="icon">
            </button>
        </form>

        <form action="/benutzerPflanzen" method="get">
            <button class="user-plants-button" type="submit">
                <img src="/images/plant-list.png" alt="delete-account icon" class="icon">
            </button>
        </form>

        <form action="/abmelden" method="post">
            <button type="submit" class="logout-button">
                <img src="/images/logout_3.png" alt="logout icon">
            </button>
        </form>
    </div>
</body>

</html>
