<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Planner</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 th:text="${message}"></h1>
    

    <!-- Logout & delete Account -->
    <div class="action-icons">

        <form id="deleteForm" action="/user/delete/{id}" method="delete" class="icon">
            <input type="hidden" name="id" th:value="${userId}">
            <button type="submit" class="delete-button">
                <img src="/images/delete-account.jpg" alt="delete-account icon" class="icon">
            </button>
        </form>

        <form action="/logout" method="post" >
            <button type="submit" class="logout-button">
                <img src="/images/logout.jpg" alt="logout icon">
            </button>
        </form>


    </div>

</body>

</html>