<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Planner</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <h1>Plant List</h1>
    <!-- Showing Plants and Adding Button -->
    <tr th:each="entry : ${list}">
        <td><span th:text="${entry.name}"> Name </span></td>
        <td><form action="/add_Plant" method="post">
            <button type="submit" name="plantId" th:value="${entry.id}">Add</button>
        </form></td>
    </tr>

    <!-- calendar Site -->
    <form action="/calendar" method="get">
        <button type="submit">CALENDAR</button>
    </form> 

    <!-- Logout -->
    <div class="action-icons">
        
        <form action="/logout" method="post" >
            <button type="submit" class="logout-button">
                <img src="/images/logout.jpg" alt="logout icon">
            </button>
        </form>


    </div>

</body>

</html>