<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Planner</title>
    <link rel="stylesheet" href="/css/user_plant.css">
</head>
<body>


    <h1>My Plants</h1>

    <!-- Showing User Plants -->
    <div>
        <div th:each="userPlant : ${userPlants}">
            <details>
                <summary th:text="${userPlant.plant.name}">Plant Name</summary>
                <p>Water (Summer): <span th:text="${userPlant.plant.water_summer}"></span>x pro Monat</p>
                <p>Water (Winter): <span th:text="${userPlant.plant.water_winter}"></span>x pro Monat</p>
                <p>Fertilize (Summer): <span th:text="${userPlant.plant.fertilize_summer}"></span>x pro Monat</p>
                <p>Fertilize (Winter): <span th:text="${userPlant.plant.fertilize_winter}"></span>x pro Monat</p>
                <p>Spot: <span th:text="${userPlant.plant.spot}"></span></p>
                <p>Temperature: <span th:text="${userPlant.plant.temperature}"></span>°C</p>
                <p>Humidity: <span th:text="${userPlant.plant.humidity}"></span>%</p>
            </details>
        </div>
    </div>

    <!-- Calendar Site -->
    <form action="/calendar" method="get">
        <button type="submit">CALENDAR</button>
    </form>

    <!-- Logout -->
    <div class="action-icons">
        <form action="/logout" method="post">
            <button type="submit" class="logout-button">
                <img src="/images/logout.jpg" alt="logout icon">
            </button>
        </form>
    </div>
</body>
</html>