<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Planner</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>User Plants</h1>

    <!-- Showing User Plants -->
    <tr th:each="userPlant : ${userPlants}">
        <td><span th:text="${userPlant.plant.name}"> ID </span> <br> </td>
    </tr>

    <!-- Calender Site-->
    <form action="/calender" method="get">
        <button type="submit">CALENDER</button>
    </form>

    <!-- Logout -->
    <div class="action-icons">
        
        <form action="/logout" method="post" >
            <button type="submit" class="logout-button">
                <img src="/images/logout.jpg" alt="logout icon">
            </button>
        </form>
    </div>

</body>

</html>