<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Planner</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Plant List</h1>

    <div class="row">
        <div class="card-column" th:each="entry:${list}">
            <div class="card">
                <form action="/add_Plant" method="post">
                    <div style="display: flex;">
                        <p class="card-title" th:text="${entry.name}"></p>
                        <button class="add-button" type="submit" name="plantId" th:value="${entry.id}">
                            <img style="height:100%" src="/images/add_plant.png" alt="add-plant-icon" class="icon">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    


    <div class="action-icons">
        
        <form id="deleteForm" action="/user/delete" method="post" class="icon">
            <input type="hidden" name="id" th:value="${userId}">
            <button type="submit" class="delete-button">
                <img src="/images/delete-account-3.png" alt="delete-account icon" class="icon">
            </button>
        </form>
        
        <!-- Calender Site-->
        <form action="/calender" method="get">
            <button class="calendar-button" type="submit">
                <img src="/images/calendar.png" alt="calendar icon" class="icon">
            </button>
        </form>

        <!-- Link to User Plants -->   
        <form action="/user_plants" method="get">
            <button class="user-plants-button" type="submit">
                <img src="/images/plant-list.png" alt="plant list icon" class="icon">
            </button>
        </form>
        
        <form action="/logout" method="post" >
            <button type="submit" class="logout-button">
                <img src="/images/logout_3.png" alt="logout icon">
            </button>
        </form>


    </div>

</body>

</html>