/* global style */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form {
    margin: 20px;
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0 16px 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

label {
    font-weight: bold;
}

.action-icons {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.logout-button, .delete-button, .plant-list-button, .user-plants-button, .calendar-button, .delete-plant-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logout-button img, .delete-button img, .plant-list-button img, .user-plants-button img, .calendar-button img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.logout-button:hover img, .delete-button:hover img {
    filter: brightness(0.8);
}

* {
    box-sizing: border-box;
}

/* card styles */
.card-column {
    float: left;
    width: 25%;
    padding: 0 0 20px 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #f5f5f5;
    height: 145px;
    position: relative;
}

.add-button {
    background-color: #4CAF50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.add-button:hover {
    background-color: #357a38;
}

.add-button:active {
    background-color: #214f23;
}

.button-icon {
    height: 90px;
    width: 90px;
}

.card-title {
    font-size: x-large;
    text-align: left;
    vertical-align: middle;
    max-width: 325px;
}

/* user plants specific style */
.user-plants-list {
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
}

.user-plants-item {
    margin-bottom: 20px;
}

details {
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

.plant-details {
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}

.plant-details p {
    margin: 10px 0;
}

textarea {
    width: 100%;
    height: 50px;
    resize: none;
    border: 1px solid #000;
    padding: 5px;
}

.delete-plant {
    position: absolute;
    top: 15px;
    right: 10px;
}

.delete-plant-button img {
    width: 24px;
    height: 24px;
}

/* calendar styles */
.calendar {
    margin-top: 0;
}

.weekdays, .dates {
    width: 95%;
    margin: 0 auto;
}

.weekdays ul li, .dates li {
    float: left;
    text-align: center;
    list-style-type: none;
}

.weekdays .card, .dates .card {
    width: 13.9%;
    margin: 0.183%;
    box-shadow: none;
}

.weekdays .card {
    background-color: #85d389;
    font-size: 20px;
    color: #143015;
    height: 55px;
}

.dates .card {
    height: 110px;
}

.day {
    text-align: left;
    color: gray;
}

p, h2, h3, h4, h5, h6, summary {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0b1a0b;
}

.calendar-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.calendar-date {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}

.calendar-icons {
    display: flex;
    position: relative;
    gap: 10px;
    margin-right:50%;
    margin-bottom: 15%;
}

.calendar-icon {
    width: 35px;
    height: 35px;
    transition: transform 0.2s;
}

.calendar-icon:hover {
    transform: scale(1.5);
}

.calendar-icon-column {
    width: 35px;
    height: 35px;
    position: relative;
}

/* month navigation styles */
.month-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.month-navigation .prev-button {
    position: absolute;
    left: 35%;
}

.month-navigation .next-button {
    position: absolute;
    right: 35%;
}

.month-navigation button {
    background-color: #4CAF50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 14px;
    font-size: 12px;
    margin: 20px 0;
    border-radius: 50%;
    height: 52.5px;
    width: 52.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.month-navigation button:hover {
    background-color: #357a38;
}

.month-navigation button:active {
    background-color: #214f23;
}

.month-navigation h1 {
    position: relative;
    top: 0;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .card-column {
        width: 33.33%;
    }
}

@media (max-width: 992px) {
    .card-column {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .card-column {
        width: 100%;
    }
}